.tic-tac-toe td{
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 3em;
    cursor: pointer;
    vertical-align: middle;
    border: 1px solid #808080;
}

.tic-tac-toe{
    margin-top: 50px;
    width: 500px;
    height: 500px;
}